In [1]:
import numpy as np
import pandas as pd

## Numpy 
- define arrays (vector (1-dim), matrix (2-dim), tensor (>=3-dim))
- do vector, matrix, or tensor calculation (e.g. multiplication)

In [2]:
x = np.array([[1, 2, 3], [4, 5, 6]])

In [3]:
x

array([[1, 2, 3],
       [4, 5, 6]])

## Pandas
- **you will represent your data using pandas**
- pandas can define, save, load and view DataFrame tables
- you can manipulate the tables

### (1) you can create a data table (DataFrame)

In [4]:
## Create a simple dataset
data = {'Name': ["John", "Anna", "Peter", "Linda"],
        'Location' : ["New York", "Paris", "Berlin", "London"],
        'Age' : [24, 13, 53, 33]
       }

df = pd.DataFrame(data)

In [5]:
df

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

### (2) you can filter the data that you want

In [6]:
# you can filter the data that you want
df[df.Age > 30] # here : row-wise

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33

### (3) you can load your csv files

In [7]:
## you can load your csv files
df = pd.read_csv('data_iris.csv')

In [8]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [10]:
df.loc[df.target==2,['sepal length (cm)', 'sepal width (cm)']]

     sepal length (cm)  sepal width (cm)
100                6.3               3.3
101                5.8               2.7
102                7.1               3.0
103                6.3               2.9
104                6.5               3.0
105                7.6               3.0
106                4.9               2.5
107                7.3               2.9
108                6.7               2.5
109                7.2               3.6
110                6.5               3.2
111                6.4               2.7
112                6.8               3.0
113                5.7               2.5
114                5.8               2.8
115                6.4               3.2
116                6.5               3.0
117                7.7               3.8
118                7.7               2.6
119                6.0               2.2
120                6.9               3.2
121                5.6               2.8
122                7.7               2.8
123                6.3               2.7
124                6.7               3.3
125                7.2               3.2
126                6.2               2.8
127                6.1               3.0
128                6.4               2.8
129                7.2               3.0
130                7.4               2.8
131                7.9               3.8
132                6.4               2.8
133                6.3               2.8
134                6.1               2.6
135                7.7               3.0
136                6.3               3.4
137                6.4               3.1
138                6.0               3.0
139                6.9               3.1
140                6.7               3.1
141                6.9               3.1
142                5.8               2.7
143                6.8               3.2
144                6.7               3.3
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0